<% layout('layouts/boilerplate') -%>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<footer>
    <p><a href="/campgrounds/<%= campground._id%>/edit">Edit</a></p>
    <p><a href="/campgrounds">All campgrounds</a></p>
    <form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
</footer>
